.articles {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 80px;
}
.container-articles {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 50px;
}
.articles-title {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .articles-name {
    font-family: 'Gilroy-Bold';
    color: #fff;
    font-size: 70px;
    font-weight: 700;
  }
  a {
    text-decoration: none;
    color: #929292;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
  }
}
.articles-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  gap: 5%;
}
.articles-item-1,
.articles-item-2,
.articles-item-3 {
  background-image: url(../../../img/decoration/articles-1.webp);
  width: 100%;
  background-size: cover;
  background-position: 100%;
  height: 350px;
  position: relative;
  .article-item-name {
    position: absolute;
    left: 38px;
    bottom: 45px;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
}
.articles-item-2 {
  background-image: url(../../../img/decoration/articles-2.webp);
}
.articles-item-3 {
  background-image: url(../../../img/decoration/articles-3.webp);
}

.hover-item {
  background: none;
  border: 1px solid #fcd54c;
  height: 350px;
  align-items: left;
  .hover-item-desc {
    gap: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 30px 0 30px 30px;
    .hover-name {
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 35px;
      border: none;
      width: 100%;
    }
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      color: #929292;
      width: 90%;
    }
    a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
  }
}
@media (max-width:767px) {
  .articles-title {
    width: 100%;
    .articles-name {
      font-size: 24px;
    }
    a {
      font-size: 10px;
    }
  }
  .articles-items {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
}
@media (min-width:768px) and (max-width:1200px) {

  .articles-title {
    width: 100%;
    .articles-name {
      font-size: 30px;
    }
    a {   
      font-size: 12px;
    }
  }
  .articles-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 5%;
  }
}