.clients {
  margin-top: 50px;
  width: 100%;
}
.swiper-clients {
  height: 38vh;
}

.swiper-slide-client {
  display: flex;
  flex-direction: column;
  border: 2px solid #fcd54c;
  color: #fff;
  padding: 0 0 10px 20px;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
  background-color: #272727;
  .client-photo {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    padding-top: 10px;
  }
  .client-photo-decortion {
    color: #fcd54c;
    font-size: 120px;
    position: absolute;
    right: 0;
    padding-right: 30px;
  }
  .client-block-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .client-name {
      font-size: 25px;
      font-weight: 700;
    }
    .client-about {
      font-size: 16px;
      font-weight: 400;

      span {
        color: #fcd54c;
      }
    }
    .client-desc {
      color: #929292;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

@media (max-width: 767px) {
  .swiper-slide-client {
    height: 80%;
    height: 96%;
    .client-info {
      .client-photo {
        border-radius: 50%;
      }
      .client-photo-decortion {
        font-size: 100px;
      }
    }
  }
  .client-block-desc {
    .client-name {
      font-size: 25px;
      font-weight: 700;
    }
    .client-about {
      font-size: 12px;
      span {
        color: #fcd54c;
      }
    }
    .client-desc {
      color: #929292;
      font-size: 12px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .swiper-clients {
    width: 100%;
  }
  .swiper-slide-client {
    padding: 0 0 25px 20px;
    gap: 0;
    width: 100%;
    height: 96%;
    overflow: hidden;
    .client-photo {  
      height: 100px;
      width: 100px;
    }
    .client-block-desc {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 20px;
      .client-name {
        font-size: 25px;
      }
      .client-about {
        font-size: 12px;
        font-weight: 400;
      }
      .client-desc {
        font-size: 12px;
      }
    }
  }
}
