@font-face {
  font-family: 'SpaceGroteskBold';
  font-weight: 700;
  font-style: normal;
  src: local('SpaceGrotesk-Bold'),
    url(./fonts/SpaceGrotesk-Bold.woff2) format('woff2'),
    url(./fonts/SpaceGrotesk-Bold.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'WorkSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('WorkSans-Regular'),
    url(./fonts/WorkSans-Regular.woff2) format('woff2'),
    url(./fonts/WorkSans-Regular.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Gilroy-Bold'),
    url(./fonts/Gilroy-Bold.woff2) format('woff2'),
    url(./fonts/Gilroy-Bold.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Gilroy-Regular'),
    url(./fonts/Gilroy-Regular.woff2) format('woff2'),
    url(./fonts/Gilroy-Regular.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Gilroy-Light'),
    url(./fonts/Gilroy-Light.woff2) format('woff2'),
    url(./fonts/Gilroy-Light.woff) format('woff');
  font-display: swap;
}

body {
  font-family: 'WorkSans-Regular';
  background-color: #272727;
}
.container {
  max-width: 1920px;
  max-height: max-content;
  padding: 0 60px;
  margin: 0 auto;
}
// media
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 35px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width:1200px) {
  .container {
    width: 100%;
    padding: 0 35px;
    margin: 0 auto;
  }
}

