.about {
  width: 100%;
  margin-top: 40px;
}

.container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.about-apartment {
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  .apartment-experence {
    text-decoration: none;
    color: #fcd54c;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    &::hover {
      color: #fff;
    }
  }
  .apartment-title {
    font-size: 70px;
    font-weight: 700;
    line-height: 69px;
    font-family: 'Gilroy-Bold';
  }
  .apartment-decs {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  margin-bottom: 40px;
}

// Video
.about-video {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: center;
  align-items: center;
  .video {
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: space-around;
    .frame-video {
      height: 50vh;
      width: 55%;
    }
  }
}
// Video
.about-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.placeholder-quotes {
  font-family: 'Gilroy-Regular';
  display: flex;
  justify-content: center;
  border: 3px solid #fcd54c;
  width: 55%;
  .quotes {
    font-size: 30px;
    font-style: normal;
    line-height: 160%;
    padding: 5%;
    span {
      color: #fcd54c;
    }
  }
}
.placeholder-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 5%;
  .placeholder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 26%;

    img {
      width: 100%;
      height: 200px;
    }
    span {
      height: 50%;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }
  }
}
@media (max-width: 767px) {
  .about-apartment {
    gap: 10px;
    width: 100%;
    .apartment-experence {
      font-size: 14px;
    }
    .apartment-title {
      font-size: 24px;
      line-height: normal;
    }
    .apartment-decs {
      font-size: 14px;
    }
    margin-bottom: 20px;
  }

  .about-video {
    .video {
      .frame-video {
        height: 30vh;
        width: 100%;
      }
    }
  }
  .placeholder-quotes {
    width: 100%;
    .quotes {
      font-size: 16px;
    }
  }
  .placeholder-container {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    .placeholder {
      flex-direction: column;
      width: 100%;
      gap: 20px;
      img {
        width: 100%;
        height: 194px;
      }
      span {
        font-size: 14px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  
  .about-apartment {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    .apartment-experence {
      text-decoration: none;
      color: #fcd54c;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height:normal;
      &::hover {
        color: #fff;
      }
    }
    .apartment-title {
      font-size: 30px;
      font-weight: 700;
      line-height: normal;
    }
    .apartment-decs {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }
    margin-bottom: 40px;
  }
  
  // Video
  .about-video {
    .video {
      .frame-video {
        height: 394px;
        width: 100%;
      }
    }
  }
  // Video
  .placeholder-quotes {
    width: 90%;
    .quotes {
      font-size: 18px;
    }
  }
  .placeholder-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 5%;
    height: 100%;
    .placeholder {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 30px;
      height: 100%;
      img {
        width: 100%;
        height: 200px;
      }
      span {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
      }
    }
  }
 }