.contact {
  width: 100%;
  height: max-content;
  margin-top: 120px;
}

.contact-title {
  width: 70%;
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}

.contact-info {
  position: absolute;
  z-index: 99;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  border: 2px solid #fcd54c;
  width: max-content;
  color: #fff;
  padding: 40px;
  width: 20%;
}
.contact-info h3 {
  font-size: 32px;
}
.contact-info h3 span {
  color: #fcd54c;
}
.contact-info p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.6;
}
.contact-info .contact-phone {
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  transition: transform 0.2s ease-in-out;
}
.contact-info .contact-phone:hover {
  color: #fcd54c;
  transform: scale(1.1);
}
.contact-info .contact-email {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.contact-info .contact-email a {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  font-weight: 400;
}
.contact-info .contact-email a:hover {
  color: #fcd54c;
  opacity: 1;
}
.contact-info .contact-work-hours {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.contact-info .contact-work-hours span {
  opacity: 0.6;
}

.contact-location {
  width: 100%;
  height: max-content;
}
.contact-location iframe {
  position: relative;
  height: 80vh;
}

.container-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.container-contacts h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}
.container-contacts h3 span {
  color: #fcd54c;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 8px;
}
.contacts-form .form-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 70%;
  margin-top: 20px;
}
.contacts-form .form-item .field-container {
  width: 100%;
}
.contacts-form .input-field-contact,
.contacts-form .input-field-message {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 2px solid #fcd54c;
  color: #fff;
  font-size: 18px;
}
.contacts-form .input-field-message {
  height: 200px;
  width: 70%;
  display: block;
  line-height: 1.5;
}
.contacts-form .input-field-message::placeholder {
  transform: translateY(-90px) translateY(50%);
}
.contacts-form .error-contact {
  display: flex;
  color: chocolate;
  top: 70px;
  opacity: 0.6;
  z-index: 99;
}

.contact-btn {
  margin-top: 10px;
  padding: 14px 42px;
  background-color: #fcd54c;
  font-size: 16px;
  font-weight: 700;
}
.contact-btn:hover {
  color: #fcd54c;
  border: 2px solid #fcd54c;
  background-color: #272727;
}

@media (max-width: 767px) {
  .contact-title {
    width: 70%;
    color: #fff;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
  }

  .contact-info {
    position: absolute;
    z-index: 99;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    border: 2px solid #fcd54c;
    width: max-content;
    color: #fff;
    padding: 40px;
    width: 20%;
  }
  .contact-info h3 {
    font-size: 32px;
  }
  .contact-info h3 span {
    color: #fcd54c;
  }
  .contact-info p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.6;
  }
  .contact-info .contact-phone {
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    transition: transform 0.2s ease-in-out;
  }
  .contact-info .contact-phone:hover {
    color: #fcd54c;
    transform: scale(1.1);
  }
  .contact-info .contact-email {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
  }
  .contact-info .contact-email a {
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    font-weight: 400;
  }
  .contact-info .contact-email a:hover {
    color: #fcd54c;
    opacity: 1;
  }
  .contact-info .contact-work-hours {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
  }
  .contact-info .contact-work-hours span {
    opacity: 0.6;
  }

  .contact-location {
    width: 100%;
    height: max-content;
  }
  .contact-location iframe {
    position: relative;
    height: 80vh;
  }

  .container-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
  }
  .container-contacts h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
  }
  .container-contacts h3 span {
    color: #fcd54c;
  }

  .contacts-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 8px;
  }
  .contacts-form .form-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 70%;
    margin-top: 20px;
  }
  .contacts-form .form-item .field-container {
    width: 100%;
  }
  .contacts-form .input-field-contact,
.contacts-form .input-field-message {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 2px solid #fcd54c;
    color: #fff;
    font-size: 18px;
  }
  .contacts-form .input-field-message {
    height: 200px;
    width: 70%;
    display: block;
    line-height: 1.5;
  }
  .contacts-form .input-field-message::placeholder {
    transform: translateY(-90px) translateY(50%);
  }
  .contacts-form .error-contact {
    display: flex;
    color: chocolate;
    top: 70px;
    opacity: 0.6;
    z-index: 99;
  }

  .contact-btn {
    margin-top: 10px;
    padding: 14px 42px;
    background-color: #fcd54c;
    font-size: 16px;
    font-weight: 700;
  }
  .contact-btn:hover {
    color: #fcd54c;
    border: 2px solid #fcd54c;
    background-color: #272727;
  }
}