.modal {
  height: 100vh;
  width: 100%;
  background: rgba(39, 39, 39, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  &.active {
    z-index: 999;
    pointer-events: all;
    opacity: 1;
  }
}
.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-content {
  padding: 60px;
  background-color: #fff;
  width: max-content;
  height: 400px;
  transform: scale(0.5);
  transition: 0.4s all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  &.active {
    transform: scale(1);
  }
}
.modal-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  .modal-title {
    font-family: "Gilroy-Bold";
    font-size: 48px;
    font-weight: 700;
  }
  .modal-description {
    font-family: "WorkSans-Regular";
    font-size: 20px;
    font-weight: 400;
  }
}

.modal-user-form {
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  position: relative;
  .input-container {
    position: relative;
    width: 100%;
    label {
      position: absolute;
      top: 30px;
    }
    .input-field {
      padding-top: 10px;
      margin-top: 20px;
      width: 90%;
      border: none;
      border-bottom: 1px solid black;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      outline: none;
      &::placeholder {
        text-align: left;
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        opacity: 1;
      }
    }
    .error {
      color: red;
      padding: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      text-align: center;
    }
  }
  .model-submit {
    position: absolute;
    bottom: -50px;
    button {
      height: 54px;
      width: 216px;
      border: none;
      background-color: #fcd54c;
      font-family: "Gilroy-Bold";
      font-size: 16px;
      cursor: pointer;
    }
  }
}
@media (max-width: 767px) {
  .modal-content {
    padding: 40px;
    background-color: #fff;
    width: max-content;
    height: max-content;
    transform: scale(0.5);
    transition: 0.4s all;
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &.active {
      transform: scale(1);
    }
  }
  .modal-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    .modal-title {
      font-family: "Gilroy-Bold";
      font-size: 30px;
      font-weight: 700;
    }
    .modal-description {
      font-family: "WorkSans-Regular";
      font-size: 15px;
      font-weight: 400;
    }
  }

  .modal-user-form {
    margin-top: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: relative;
    .input-container {
      .error {
        color: red;
        padding: 0;
        font-size: 12px;
      }
    }
    .model-submit {
      position: absolute;
      top: 75%;
      button {
        height: 54px;
        width: 150px;
      }
    }
  }
}
